<div
  class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white sidebar"
  style="width: 280px"
>
  <div class="text-center doctor-info">
    <p *ngIf="doctorName" class="welcome-message">Hoş geldiniz,</p>
    <p *ngIf="doctorName" class="doctor-name">
      {{ doctorTitle }} {{ doctorName }}
    </p>
    <p *ngIf="doctorBranch" class="doctor-branch">{{ doctorBranch }}</p>
    <p *ngIf="!doctorName" class="loading-message">Yükleniyor...</p>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-house-heart"></i>
        Ana Sayfa
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/doctor-summary"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-view-list"></i>
      Özet
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/list-doctor-schedule"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-calendar-heart"></i>
        Randevu Takvimi
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/appointment-history"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-calendar-check"></i>
        Geçmiş Randevular
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/pending-appointments"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-calendar3-week"></i>
        Bekleyen Randevular
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/doctor-reports"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-journal"></i>
        Raporlar
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/doctor-patient"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-people-fill"></i>
        Hastalarım
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/doctor-feedbacks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-chat-dots-fill"></i>
        Geri Bildirimlerim
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/doctor-profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-gear-fill"></i>
        Profil Bilgilerim
      </a>
    </li>
    <li class="nav-item">
      <a (click)="logout()" class="nav-link" style="cursor: pointer">
        <i class="bi bi-box-arrow-left"></i>
        Çıkış Yap
      </a>
    </li>

  </ul>
</div>
