.table th,
.table td {
  vertical-align: middle; 
}

.btn-group .btn {
  display: inline-block;
}

.table .text-center {
  text-align: center;
}

tr {
  text-align: center;
}

.btn-space {
  margin-right: 8px;
}

