
<router-outlet></router-outlet>



<!--
<div style="padding-top: 50px; display: flex; justify-content: center; margin-bottom: 55px;">
    <div>
        <h2 style="text-align: center; margin-bottom: 30px;" class="text-info">DOKTORLARIMIZ</h2>
        <app-doctor-list></app-doctor-list>
    </div>
</div>  -->

<!--  İLETİŞİM SAYFASI
<div style="padding-top: 50px; display: flex; justify-content: center; margin-bottom: 55px;">
    <div>
        <h2 style="text-align: center; margin-bottom: 30px;" class="text-primary">BİZİMLE İLETİŞİME GEÇİN</h2>
        <app-contact></app-contact>
    </div>
</div> -->

