<app-basic-layout>
    <div class="container" >
      <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card border-0 ">
          <div class="card-header ">
            <h3 class="mb-0">Şifremi Unuttum</h3>
          </div>
          <div class="card-body">

            <div class="text-center mb-4">
              <img src="assets/images/logo/logo.png" alt="Hospital Logo" class="img-fluid" style="max-width: 300px;">
            </div>

            <form [formGroup]="passwordForm" (ngSubmit)="ChangePassword()">
              <div class="form-group">
                <label for="email">E-postanız</label>
                <input type="text" class="form-control" id="email" formControlName="email" required>
                <div *ngIf="isFieldInvalid('email')" class="error-messages">
                  <small *ngIf="passwordForm.get('email')?.errors?.['required']">Eposta adresinizi girmelisiniz.</small>
                  <small *ngIf="passwordForm.get('email')?.errors?.['email']">Geçerli bir eposta girmelisiniz</small>
                </div>
              </div>

              <div class="form-group">
                <label for="phone">Telefon Numaranız</label>
                <input type="text" class="form-control" id="phone" formControlName="phone" required>
                <div *ngIf="isFieldInvalid('phone')" class="error-messages">
                  <small *ngIf="passwordForm.get('phone')?.errors?.['required']">Telefon numaranızı girmelisiniz.</small>
                  <small *ngIf="passwordForm.get('phone')?.errors?.['pattern']">Sadece rakamlar girmelisiniz.</small>
                </div>
              </div>

              <div class="form-group">
                <label for="password" class="form-label">Yeni Şifre</label>
                <input type="password" id="password" class="form-control" formControlName="password"  aria-describedby="passwordHelpBlock">
                <div *ngIf="isFieldInvalid('password')" class="error-messages">
                  <small *ngIf="passwordForm.get('password')?.errors?.['required']">Şifrenizi girmelisiniz.</small>
                  <small cla style="width: 300px;" *ngIf="passwordForm.get('password')?.errors?.['pattern'] ">Şifreniz en az 8 karakter uzunluğunda ve büyük harf, küçük harf, rakam ve özel karakter içermelidir.</small>
                </div>
              </div>
              <div class="d-flex justify-content-end">
              <button type="submit" class="btn btn-primary btn-block ">Şifreyi Değiştir</button>
            </div>
            </form>

          </div>
        </div>
      </div>
    </div>
    </div>
    <!-- Bootstrap JS (Optional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </app-basic-layout>
