<app-basic-layout>
  <div class="container mt-5">
    <!-- Gizlilik Politikası Hakkında Bilgilendirme Metni -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Gizlilik Politikası Hakkında Bilgilendirme Metni</h2>
          <p>
            Pair 5 Hastanesi tarafından işletilen www.pair5hastanesi.com.tr internet sitesini ziyaret edenlerin (“Veri Sahibi”) gizliliğini korumak hastanemizin önde gelen ilkelerindendir. İnternet Sitesi Gizlilik Politikası (“Politika”) ile; (1) Veri Sahiplerinin kişisel verilerinin işlenmesi, (2) Çerez Politikası ve (3) İnternet Sitesi Gizlilik Politikası’nın yürürlüğü hakkında açıklamalar yapılmaktadır.
          </p>
        </div>
      </div>

    </div>

    <!-- Veri Sahiplerinin Kişisel Verilerinin İşlenmesi -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Veri Sahiplerinin Kişisel Verilerinin İşlenmesi</h2>
          <p>
            İnternet sitemizi ziyaret etmeniz sırasında elde edilen kişisel veriler, veri sorumlusu olarak Hastane tarafından 6698 sayılı Kişisel Verilerin Korunması Kanunu (“Kanun”) uyarınca aşağıda açıklanan kapsamda işlenebilecektir. Kişisel verilerinizin işlenmesine ilişkin detaylı bilgilere, www.pair5hastanesi.com.tr internet adresinden ulaşabilirsiniz.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital13.jpg" class="img-fluid rounded shadow" alt="Gizlilik Politikası">
      </div>
    </div>

    <!-- Kişisel Verilerinizin İşlenme Amacı -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Kişisel Verilerinizin İşlenme Amacı</h2>
          <p>
            İnternet sitemizi ziyaret etmeniz dolayısıyla elde edilen kişisel verileriniz aşağıda sıralanan amaçlarla Hastane tarafından Kanun’un 5. ve 6. maddelerine uygun olarak işlenebilecektir:
          </p>
        </div>
      </div>

    </div>

    <!-- Kişisel Verilerinizin Aktarıldığı Taraflar ve Aktarım Amacı -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Kişisel Verilerinizin Aktarıldığı Taraflar ve Aktarım Amacı</h2>
          <p>
            İnternet sitemizi ziyaret etmeniz dolayısıyla elde edilen kişisel verileriniz, kişisel verilerinizin işlenme amaçları doğrultusunda, iş ortaklarımıza, tedarikçilerimize kanunen yetkili kamu kurumlarına ve özel kişilere KVK Kanunu’nun 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde aktarılabilecektir.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital14.jpg" class="img-fluid rounded shadow" alt="Gizlilik Politikası">
      </div>
    </div>

    <!-- Kişisel Verilerinizin Toplanma Yöntemi ve Hukuki Sebebi -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Kişisel Verilerinizin Toplanma Yöntemi ve Hukuki Sebebi</h2>
          <p>
            Kimliğinizi belirli ya da belirlenebilir kılan her türlü bilgi “kişisel veri”dir. İnternet sitemizi ziyaretiniz kapsamında kişisel verileriniz Kanun’da yer alan veri işleme şartlarına uygun olarak teknik iletişim dosyaları olan çerezler (cookies) vasıtasıyla toplanmaktadır.
          </p>
        </div>
      </div>

    </div>

    <!-- Veri Sahiplerinin Hakları -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Veri Sahiplerinin Hakları</h2>
          <p>
            Kişisel veri sahibi olarak Kanun’un 11. maddesi uyarınca aşağıdaki haklara sahip olduğunuzu bildiririz:
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital15.jpg" class="img-fluid rounded shadow" alt="Gizlilik Politikası">
      </div>
    </div>

    <!-- Çerez Politikası Hakkında Bilgilendirme Metni -->
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Çerez Politikası Hakkında Bilgilendirme Metni</h2>
          <p>
            Bu Çerez Politikası, çerezlerin ne olduğunu ve bunları nasıl kullandığımızı açıklar. Çerezlerin ne olduğunu, bunları nasıl kullandığımızı, kullandığımız çerez türlerini, yani çerezleri kullanarak topladığımız bilgileri ve bu bilgilerin nasıl kullanıldığını ve çerez tercihlerinin nasıl kontrol edileceğini anlamak için bu politikayı okumalısınız.
          </p>
          <p>
            Çerezleri Nasıl Kullanıyoruz?
          </p>
          <p>
            Web sitelerimizde kullanılan üçüncü taraf çerezleri, temel olarak web sitesinin nasıl performans gösterdiğini, web sitemizle nasıl etkileşimde bulunduğunuzu, hizmetlerimizi güvende tutmak, sizinle alakalı reklamlar sunmak ve daha iyi bir kullanıcı deneyimi sunmak için kullanılır. Çerezler, ziyaret ettiğiniz internet siteleri tarafından tarayıcılar aracılığıyla cihazınıza veya ağ sunucusuna depolanan küçük metin dosyalarıdır.
          </p>
        </div>
      </div>
    </div>
  </div>
</app-basic-layout>
