<div class="d-flex">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="flex-grow-1 p-3">
    <app-token></app-token>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-total-number-cards></app-total-number-cards>

        </div>
        <div class="col-md-6 mb-4">
          <app-appointment-chart></app-appointment-chart>

        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-pai-chart-title></app-pai-chart-title>
        </div>
        <div class="col-md-6 mb-4">
          <app-pie-chart-branch></app-pie-chart-branch>
        </div>
      </div>
    </div>
  </div>
</div>
