<div
  class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white sidebar"
  style="width: 280px"
>
  <div class="text-center patient-info">
    <p *ngIf="patientName" class="welcome-message">Hoş geldiniz,</p>
    <p *ngIf="patientName" class="patient-name">{{ patientName }}</p>

    <!-- <p *ngIf="!patientName" class="loading-message">Yükleniyor...</p> -->
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-house-heart"></i>
        Ana Sayfa
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/patient-summary"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-view-list"></i>
      Özet
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/create-appointment"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-calendar-heart"></i>
        Randevu Al
      </a>
    </li>
    <li class="nav-item">
      <a
        data-bs-toggle="collapse"
        href="#appointmentCollapse"
        role="button"
        aria-expanded="false"
        aria-controls="appointmentCollapse"
        class="nav-link"
      >
        <i class="bi bi-calendar3-week"></i>
        Randevularım
      </a>
      <div class="collapse" id="appointmentCollapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a
              routerLink="/patient-past-appointments"
              routerLinkActive="active"
              class="nav-link"
            >
              <i class="bi bi-arrow-left-square"></i>
              Geçmiş Randevularım
            </a>
          </li>
          <li class="nav-item">
            <a
              routerLink="/patient-upcoming-appointments"
              routerLinkActive="active"
              class="nav-link"
            >
              <i class="bi bi-arrow-right-square"></i>
              Gelecek Randevularım
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a
        routerLink="/patient-reports"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-journal"></i>
        Raporlarım
      </a>
    </li>
    <li class="nav-item">
      <a
        routerLink="/patient-feedbacks"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-chat-dots-fill"></i>
        Geri Bildirimlerim
      </a>
    </li>

    <li class="nav-item">
      <a
        routerLink="/patient-profile"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        class="nav-link"
      >
        <i class="bi bi-gear-fill"></i>
        Profil Bilgilerim
      </a>
    </li>

    <li class="nav-item">
      <a (click)="logout()" class="nav-link" style="cursor: pointer">
        <i class="bi bi-box-arrow-left"></i>
        Çıkış Yap
      </a>
    </li>
  </ul>
</div>
