<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="assets/images/slider/slider.jpg" 
           class="d-block w-100" 
           alt="Slider Image"
           width="1100" 
           height="350"
           srcset="assets/images/slider/slider.jpg 1100w"
           sizes="(min-width: 1200px) 1100px,
                  (min-width: 992px) 800px,
                  (min-width: 768px) 600px,
                  400px">
      <div class="carousel-caption d-none d-md-block">
        <h3>Sağlıkta Mükemmeliyet İçin Çalışıyoruz</h3>
        <p>Deneyimli sağlık ekibimizle en iyi sağlık hizmetini sunmak için buradayız. Sizin ve sevdiklerinizin sağlığı bizim önceliğimizdir.</p>
      </div>
    </div>
    <div class="carousel-item">

      <img src="assets/images/slider/slider1.jpg" 
           class="d-block w-100" 
           alt="..."
           width="1100" 
           height="350"
           srcset="assets/images/slider/slider1.jpg 1100w"
           sizes="(min-width: 1200px) 1100px,
                  (min-width: 992px) 800px,
                  (min-width: 768px) 600px,
                  400px">

      <div class="carousel-caption d-none d-md-block">
        <h3>Sağlıkta İhtiyacınız Olan Her Şey Burada</h3>
        <p>Tam teşekküllü tıbbi ekipmanlarımız ve uzman sağlık personelimizle sağlık sorunlarınızı çözmek için yanınızdayız.</p>
      </div>
    </div>
    <div class="carousel-item">

      <img src="assets/images/slider/slider2.jpg" 
           class="d-block w-100" 
           alt="..."
           width="1100" 
           height="350"
           srcset="assets/images/slider/slider2.jpg 1100w"
           sizes="(min-width: 1200px) 1100px,
                  (min-width: 992px) 800px,
                  (min-width: 768px) 600px,
                  400px">
      <div class="carousel-caption d-none d-md-block">
        <h3>Sağlıkta Öncü Olmak İçin Buradayız</h3>
        <p>Sektördeki en son teknolojileri kullanarak sizlere en iyi sağlık hizmetini sunmayı taahhüt ediyoruz.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
