<div class="d-flex">
  <app-patient-sidebar></app-patient-sidebar>
  <div class="flex-grow-1 p-3">
    <app-token></app-token>
    <div class="container mt-5">
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-patient-today-appointment></app-patient-today-appointment>
        </div>
        <div class="col-md-6 mb-4">
          <app-future-appointment></app-future-appointment>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-patient-reports></app-patient-reports>
        </div>
        <div class="col-md-6 mb-4">
          <app-feedback></app-feedback>
        </div>
      </div>
    </div>
  </div>
</div>
