<div
  class="d-flex flex-column flex-shrink-0 p-3 text-dark bg-white sidebar"
  style="width: 280px"
>
  <div class="text-center admin-info">
    <p *ngIf="adminName" class="welcome-message">Hoş geldiniz,</p>
    <p *ngIf="adminName" class="admin-name">{{ adminName }}</p>
  </div>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <i class="bi bi-house-heart"></i>
        Ana Sayfa
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin-list-doctor" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <i class="bi bi-person-lines-fill"></i>
        Doktor Yönetimi
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin-branches" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <i class="bi bi-diagram-3-fill"></i>
        Branş Yönetimi
      </a>
    </li>
    <li class="nav-item"><a routerLink="/admin-patient" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }"  class="nav-link">
        <i class="bi bi-people-fill"></i>
        Hasta Yönetimi
      </a>
    </li>
    <li class="nav-item">
      <a data-bs-toggle="collapse" href="#appointmentCollapse" role="button" aria-expanded="false"
        aria-controls="appointmentCollapse" class="nav-link">
        <i class="bi bi-calendar3-week"></i>
        Randevu Yönetimi
      </a>
      <div class="collapse" id="appointmentCollapse">
        <ul class="nav flex-column ms-3">
          <li class="nav-item">
            <a routerLink="/past-appointments" routerLinkActive="active" class="nav-link">
              <i class="bi bi-arrow-left-square"></i>
              Geçmiş Randevular
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/upcoming-appointments" routerLinkActive="active" class="nav-link">
              <i class="bi bi-arrow-right-square"></i>
              Gelecek Randevular
            </a>
          </li>
        </ul>
      </div>
    </li>

    <li class="nav-item">
      <a routerLink="/admin-reports" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <i class="bi bi-journal"></i>
        Rapor Yönetimi
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/admin-charts" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <i class="bi bi-bar-chart"></i>
        İstatistikler
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin-list-feedback" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
        <i class="bi bi-chat-dots-fill"></i>
        Geri Bildirimler
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="/admin-profile" routerLinkActive="active"  [routerLinkActiveOptions]="{ exact: true }" class="nav-link">

        <i class="bi bi-gear-fill"></i>
        Profil Bilgilerim
      </a>
    </li>

    <li class="nav-item">
      <a (click)="logout()" class="nav-link" style="cursor: pointer;">
        <i class="bi bi-box-arrow-left"></i>
        Çıkış Yap
      </a>
    </li>
  </ul>
</div>


