<div class="d-flex">
  <app-admin-sidebar></app-admin-sidebar>
  <div class="flex-grow-1 p-3">
    <div class="col-md-12">
      <app-token></app-token>
      <div class="card mt-5">
        <div class="card-header">
          <h2
            style="
              color: #1565c0;
              font-size: 28px;
              text-align: center;
              margin-bottom: 19px;
            "
          >
            GELECEK RANDEVULAR
          </h2>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
              <div class="input-group mr-3">
                <span class="input-group-text">
                  <i class="bi bi-search"></i>
                </span>
                <input
                  type="text"
                  [(ngModel)]="filterText"
                  class="form-control"
                  id="filterText"
                  placeholder="Hasta kimlik numarası"
                />
              </div>
            </div>
            <div class="d-flex justify-content-end mb-3">
              <button
                class="btn btn-success"
                [routerLink]="['/add-appointment']"
              >
                Randevu Oluştur
              </button>
            </div>
          </div>

          <table class="table table-striped">
            <thead class="thead-primary">
              <tr>
                <th scope="col" style="width: 15%">Doktor Adı</th>
                <th scope="col" style="width: 15%">Hasta Adı Soyadı</th>
                <th scope="col" style="width: 10%">Hasta Kimlik Numarası</th>
                <th scope="col" style="width: 10%">Randevu Tarihi</th>
                <th scope="col" style="width: 10%">Randevu Saati</th>
                <th scope="col" style="width: 10%">Durum</th>
                <th scope="col" style="width: 15%">İşlemler</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let appointment of upcomingAppointments
                    | filterAppointmentIdentity : filterText
                "
              >
                <td>
                  {{ appointment.doctorFirstName }}
                  {{ appointment.doctorLastName }}
                </td>
                <td>
                  {{ appointment.patientFirstName }}
                  {{ appointment.patientLastName }}
                </td>
                <td>{{ appointment.patientNationalIdentity }}</td>
                <td>{{ appointment.date | date : "dd.MM.yyyy" }}</td>
                <td>{{ appointment.time }}</td>
                <td>Bekleniyor</td>
                <td>
                  <button
                    class="btn btn-sm btn-primary btn-space"
                    [routerLink]="['/update-appointment', appointment.id]"
                  >
                    <i class="fa fa-pencil"></i>
                  </button>
                  <button
                    class="btn btn-sm btn-danger"
                    (click)="confirmDelete(appointment.id)"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
