
<div class="d-flex">
  <app-doctor-sidebar></app-doctor-sidebar>
  <div class="flex-grow-1 p-3">
    <app-token></app-token>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-today-appointment></app-today-appointment>
        </div>
        <div class="col-md-6 mb-4">
          <app-tomorrow-appointment></app-tomorrow-appointment>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-4">
          <app-drschedule></app-drschedule>
        </div>
        <div class="col-md-6 mb-4">
          <app-reports></app-reports>
        </div>
      </div>
    </div>
  </div>
</div>
