<app-basic-layout>
  <div class="container mt-5">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Refakat Politikası</h2>
          <p>
            Yataklı kliniklerde hastanın yanında sadece 1 refakatçi kalabilir. 2. refakatçi ücrete tabidir ve sadece yemek hizmeti sunulmaktadır.
          </p>
          <p>
            Her hasta odasında bir refakatçi koltuğu bulunmaktadır. Bu koltuklar, birim portörü tarafından akşam belirli saatlerde açılır ve sabah toplanır.
          </p>
          <p>
            Refakatçiler, hastanın bakımına izin verilen ölçüde yardım edebilirler. Tüm yoğun bakım birimlerinde refakatçi bulundurulmamaktadır.
          </p>
          <p>
            Hastaların diyetleri özeldir; bu nedenle hastaneye dışarıdan yiyecek, içecek veya meyve getirilmemelidir.
          </p>
          <p>
            Hastane içerisinde cep telefonları sessiz moduna getirilmelidir. Yerlere çöp atılmamalı ve hastane içerisinde kesinlikle sigara içilmemelidir.
          </p>
          <p>
            Hasta başında yüksek sesle konuşulmamalı ve hastanenin verdiği yemek dışında herhangi bir şey yenilip içilmemelidir.
          </p>
          <p>
            Hasta yataklarına oturulmamalıdır. Serum seti, oksijen manometresi gibi hasta ile ilgili tedavi malzemelerine dokunulmamalı veya oynanmamalıdır.
          </p>
          <p>
            Refakatçiler el hijyenine dikkat etmeli ve hastanın bulunduğu yer ile eşyalar temiz tutulmalı, zarar verilmemelidir. Dilek ve öneriler servis sorumlu hemşiresine bildirilmelidir veya dilek ve öneri kutusunda bulunan anketlere yazılmalıdır.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital12.jpg" class="img-fluid rounded shadow" alt="Refakat Politikası Resmi">
      </div>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12 order-lg-1 order-md-2">
        <div class="about-container">
          <h2>Ziyaret Politikası</h2>
          <p>
            Hastanemizde ziyaret saatleri her gün 10:00-22:00 arasındadır. Yoğun bakımların ziyaret saatleri ve süresi birime özgüdür.
          </p>
          <p>
            Ziyaret süresi kısa olmalıdır (tercihen 10-15 dakika) ve her hasta başında ikiden fazla ziyaretçi olmamalıdır.
          </p>
          <p>
            Hasta yataklarına oturulmamalı ve serum seti, oksijen manometresi gibi tedavi malzemelerine dokunulmamalıdır. Hasta ziyaretinde el hijyenine dikkat edilmelidir.
          </p>
          <p>
            Hasta başında yüksek sesle konuşulmamalı ve herhangi bir şey yenilip içilmemelidir.
          </p>
          <p>
            Hastalara getirilebilecek armağanlar; kitap, çiçek, kolonya olabilir. Ziyaret esnasında diğer hastalar rahatsız edilmemeli, gereksiz ve meraklı sorular sorulmamalıdır.
          </p>
          <p>
            Hasta mahremiyetine saygı gösterilmeli ve moral bozucu söz ve davranışlardan kaçınılmalıdır. Ziyaret saati dışında, gereksiz ve ısrarlı ziyaret taleplerinde bulunulmamalıdır.
          </p>
          <p>
            Ziyaret saati sonunda, görevlilerin uyarılarını beklemeksizin hastane terk edilmelidir. Hastanın kendisinin ya da odasını paylaştığı diğer hastaların durumları dikkate alınarak, bölüm/servis hemşiresi ziyaretçi sayısını ya da ziyaret saatlerini kısıtlayabilir.
          </p>
          <p>
            Hastaların diyetleri özeldir; bu nedenle hastaneye dışarıdan yiyecek, içecek veya meyve getirilmemelidir. Hastane içerisinde cep telefonları sessiz moduna getirilmelidir. Yerlere çöp atılmamalı ve hastane içerisinde kesinlikle sigara içilmemelidir.
          </p>
          <p>
            Hastanın ameliyat olduğu gün mümkünse hasta ziyaret edilmemelidir. Hastanın bulunduğu yer ve eşyalar temiz tutulmalı ve zarar verilmemelidir.
          </p>
          <p>
            Dilek, öneri ve şikayetlerinizi zemin katta bulunan hasta hakları birimimize iletebilir veya dilek-öneri kutusunda bulunan anketlere yazabilirsiniz. Hastalara getirdiğiniz canlı çiçekler, birim sorumlusunun uygun gördüğü bir alanda muhafaza edilir.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 order-lg-2 order-md-1 text-center my-4">
        <img src="assets\images\footer\hospital11.jpg" class="img-fluid rounded shadow" alt="Ziyaret Politikası Resmi">
      </div>
    </div>
  </div>
</app-basic-layout>
