<app-basic-layout>
  <div class="row">
    <h2 class="title">Kliniklerimiz</h2>
    <div class="col-md-12 d-flex justify-content-between align-items-center mb-3">
      <div class="d-flex align-items-center">
        <button class="btn btn-primary mr-2">Branş:</button>
      </div>
    </div>
    <div *ngFor="let clinic of clinics" class="col-md-4">
      <div class="card border-primary mb-4">
        <img src="https://via.placeholder.com/180" class="card-img-top" alt="Doctor Image" style="max-height: 250px; max-width: 100%;" />
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item text-center">{{ clinic.name}}</li>
            <li class="list-group-item text-center">{{ clinic.email }} Doktor</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</app-basic-layout>
