<app-basic-layout>
  <div class="container mt-5">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>KVKK Bilgilendirmesi</h2>
          <p>KİŞİSEL VERİLERİN İŞLENMESİNDE GENEL İLKELER</p>
          <ul>
            <li>Hukuka ve dürüstlük kuralına uygunluk</li>
            <li>Doğruluk ve güncellik</li>
            <li>Belirli, açık ve meşru amaçlarla işleme</li>
            <li>Verileri işlendikleri amaç ile bağlantılı, sınırlı ve ölçülü olarak işleme</li>
            <li>Mevzuat hükümleri ile öngörülen veya işlenme amacının gerektirdiği süre ile sınırlı olarak işleme</li>
          </ul>
          <p>KİŞİSEL VERİLERİN İŞLENME ŞARTLARI</p>
          <ul>
            <li>Kişisel Verilerin İşlenmesi Şartları</li>
            <li>Özel Nitelikli Kişisel Verilerin İşlenmesi Şartları</li>
          </ul>
          <p>KİŞİSEL VERİLERİN TOPLANMASI VE İŞLENMESİ YÖNTEMLERİ</p>
          <ul>
            <li>Kişisel Veri Konusu Kişi Grupları</li>
            <li>Veri Kategorizasyonu</li>
            <li>Kişisel Veri Konusu Kişi Gruplarında Yer Alan Kişisel Veri Sahiplerinin Kişisel Verilerinin Toplanması Ve İşlenmesinin Amaçları</li>
            <li>Veri Konusu Kişi Grupları İle Bu Kişilere Ait Veri Kategorilerinin İlişkilendirilmesi</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital16.jpg" class="img-fluid rounded shadow" alt="KVKK Bilgilendirmesi Resmi">
      </div>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>KİŞİSEL VERİLERİN AKTARILMASI İLKELERİ</h2>
          <ul>
            <li>KİŞİSEL VERİLERİN YURTDIŞINA AKTARILMASI</li>
            <ul>
              <li>Kişisel Verilerin Yurtdışına Aktarılması</li>
              <li>Özel Nitelikli Kişisel Verilerin Yurtdışına Aktarılması</li>
            </ul>
          </ul>
          <p>KİŞİSEL VERİLERİN SAKLANMASI</p>
          <p>KİŞİSEL VERİLERİN KORUNMASINA İLİŞKİN ALINAN TEDBİRLER</p>
          <ul>
            <li>İdari Tedbirler</li>
            <li>Teknik Tedbirler</li>
          </ul>
          <p>VERİ SORUMLUSUNUN AYDINLATMA YÜKÜMLÜLÜĞÜ</p>
          <p>VERİ SAHİBİNİN HAKLARI VE BU HAKLARINI KULLANMASI</p>
          <ul>
            <li>Kişisel Veri Sahibinin Haklarını İleri Süremeyeceği Haller</li>
            <li>Kişisel Veri Sahibinin Haklarını Kullanması</li>
            <li>Kişisel Veri Sahibinin KVK Kurulu’na Şikâyette Bulunma Hakkı</li>
            <li>Pair 5 Hastanesi’nin Başvurulara Cevap Vermesi</li>
            <li>Pair 5 Hastanesi’nin Başvurulara Cevap Verme Usulü ve Süresi</li>
            <li>Pair 5 Hastanesi’nin Başvuruda Bulunan Kişisel Veri Sahibinden Talep Edebileceği Bilgiler</li>
            <li>Pair 5 Hastanesi’nin Kişisel Veri Sahibinin Başvurusunu Reddetme Hakkı</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital17.jpg" class="img-fluid rounded shadow" alt="KVKK Bilgilendirmesi Resmi 2">
      </div>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>REVİZYON VE YÜRÜRLÜKTEN KALDIRMA</h2>

          <p>Pair 5 Hastanesi olarak, kişisel verilerinizin güvenliğine büyük önem vermekteyiz. Her bir hastanemizi işleten tüzel kişilerin unvanlarına aşağıda yer verilmektedir.</p>
          <p>
            Hastane / İşleten Tüzel Kişilik
            <br>Pair 5 Hastanesi
          </p>
          <p>Pair 5 Hastanesi, kişisel verilerin güvenliği hususuna azami hassasiyet göstermektedir. Bu bilinçle kişisel veri sahiplerinin kişisel verileri, 6698 sayılı KVK Kanunu, Kanun’un ikincil düzenlemelerini teşkil eden sair mevzuata uygun olarak işlenmekte ve saklanmaktadır.</p>
          <p>POLİTİKANIN HAZIRLANMA AMACI VE KAPSAMI</p>
          <p>İşbu Politika ile Özel Pair 5 Hastanesi tarafından KVK Kanunu’na uyum için aşağıda açıklanacak olan temel ilkeler çerçevesinde getirilecek düzenlemelerin Pair 5 Hastanesi bünyesinde hissedarlar, yetkililer, çalışanlar ve iş ortakları tarafından etkin bir şekilde uygulanması amaçlanmaktadır.</p>
          <p>İşbu Politika ile öngörülen temel düzenlemeler doğrultusunda Özel Pair 5 Hastanesi işleyişi içerisinde kişisel verilerin işlenmesi ve korunması bakımından her türlü idari ve teknik tedbir alınacak, gerekli iç prosedürler oluşturulacak, farkındalığın yükseltilmesi için gerekli tüm eğitimler yapılacaktır. Hissedarlar, yetkililer, çalışanlar ve iş ortaklarının KVKK süreçlerine uyumları için gerekli tüm tedbirler alınarak uygun ve etkin denetim mekanizmaları kurulacaktır.</p>
          <p>İşbu Politika, tüm bu süreçlerde gözetilecek temel ilkeleri ve KVK Kanunu ile getirilen düzenlemeler uyarınca iç işleyişin yönlendirilmesi için Pair 5 Hastanesi’nin yükümlülüklerini düzenlenmektedir. KVK Kanunu ve ilgili mevzuat çerçevesinde oluşturulacak iç prosedürler ile Pair 5 Hastanesi’nin kişisel verilerin korunması hususunda gerçekleştireceği uyum faaliyetleri düzenlenecektir. Pair 5 Hastanesi’nin tüm çalışanları görevlerini yerine getirirken işbu Politika ile getirilen düzenlemeler ile KVK Kanunu ve ilgili tüm diğer mevzuat hükümlerine uygun hareket etmekte yükümlüdür.</p>
          <p>İşbu Politika’ya ve ilgili mevzuat hükümlerine uyulmaması halinde, mevzuat hükümleri ile öngörülen cezai ve hukuki sorumluluğun yanında, Pair 5 Hastanesi’nde, olayın mahiyetine göre, iş hayatını düzenleyen mevzuat çerçevesinde akdin haklı nedenle feshine kadar gidebilecek olan yaptırımlar uygulanacaktır.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets\images\footer\hospital18.jpg" class="img-fluid rounded shadow" alt="KVKK Bilgilendirmesi Resmi 3">
      </div>
    </div>
  </div>
</app-basic-layout>
