<div class="d-flex">
  <app-doctor-sidebar></app-doctor-sidebar>
  <div class="flex-grow-1 p-3">
    <div class="col-md-12">
      <app-token></app-token>
      <div class="card mt-5">
        <div class="card-header">
          <h2
            style="
              color: #1565c0;
              font-size: 28px;
              text-align: center;
              margin-bottom: 19px;
            "
          >
            RANDEVULU HASTALARIM
          </h2>
        </div>
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <div class="d-flex align-items-center">
              <div class="input-group mr-3">
                <span class="input-group-text">
                  <i class="bi bi-search"></i>
                </span>
                <input
                  type="text"
                  [(ngModel)]="filterText"
                  class="form-control"
                  id="filterText"
                  placeholder="Hasta kimlik numarası"
                />
              </div>
            </div>
          </div>
          <table class="table table-striped">
            <thead class="thead-primary">
              <tr>
                <th scope="col" style="width: 15%">Hasta Adı Soyadı</th>
                <th scope="col" style="width: 15%">Kimlik Numarası</th>
                <th scope="col" style="width: 15%">Doğum Tarihi</th>
                <th scope="col" style="width: 5%">Yaşı</th>
                <th scope="col" style="width: 15%">Telefon Numarası</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let patient of patients | filterPatientIdentity : filterText
                "
              >
                <td>
                  {{ patient.firstName | CapitalizeFirst }}
                  {{ patient.lastName | CapitalizeFirst }}
                </td>
                <td>{{ patient.nationalIdentity }}</td>
                <td>{{ patient.dateOfBirth }}</td>
                <td>{{ patient.age }}</td>
                <td>{{ patient.phone }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
