
<footer class="bg-blue text-light">
  <div class="b-example-divider"></div>
  <div class="container">
    <footer class="py-4">
      <div class="row text-center">
        <div class="col-6 col-md-4 mb-3">
          <h5>Hızlı Erişim</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/branches" class="nav-link p-0 text-dark text-blue">Tıbbi Birimler</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/doctors" class="nav-link p-0 text-dark">Doktorlarımız</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/about" class="nav-link p-0 text-dark">Hakkımızda</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/contact" class="nav-link p-0 text-dark">Bize Ulaşın</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-4 mb-3">
          <h5>Hasta Rehberi</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/visitor-companion-policy" class="nav-link p-0 text-dark text-blue">Ziyaret & Refakatçı Politikası</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/quality-policy" class="nav-link p-0 text-dark">Kalite Politikası</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/kvkk" class="nav-link p-0 text-dark">KVKK Yönetmeliği</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/cookie-policy" class="nav-link p-0 text-dark">Çerez Politikası</a>
            </li>
          </ul>
        </div>

        <div class="col-6 col-md-4 mb-3">
          <h5>Online Hizmetler</h5>
          <ul class="nav flex-column">
            <li class="nav-item mb-2">
              <a routerLink="/login" class="nav-link p-0 text-dark text-blue">Hızlı Randevu Al</a>
            </li>
            <li class="nav-item mb-2">
              <a routerLink="/login" class="nav-link p-0 text-dark text-blue">Hemen Üye Ol</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="d-flex flex-column flex-sm-row justify-content-between py-2 my-2 border-top">
        <p>&copy; 2024 Pair5. Tüm hakları saklıdır.</p>
        <ul class="list-unstyled d-flex mb-0">
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://twitter.com/pair5" target="_blank"><i class="fab fa-twitter fa-2x"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://instagram.com/pair5" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="https://facebook.com/pair5" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
          </li>
          <li class="ms-3">
            <a class="link-body-emphasis" href="mailto:info@pair5.com" target="_blank"><i class="fas fa-envelope fa-2x"></i></a>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</footer>
