<app-basic-layout>
  <div class="container mt-5">
    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Kalite Politikası</h2>
          <p>
           Pair 5 Hastanesi hizmet standardizasyonu sağlıkta ulusal kalite sistemini kurmak amacıyla oluşturulan Sağlıkta Kalite Standartları (SKS) doğrultusunda hizmet verilmesi.
          </p>
          <p>
            Her türlü sağlık hizmetinin, hastalarımızın beklenti ve memnuniyetine odaklı kalite bilinci ile sunulması.
          </p>
          <p>
            Hasta / hasta yakınlarının ve çalışanlarımızın güvenliğinin sağlanması.
          </p>
          <p>
            Süreçlerden kaynaklanan hataların bilincinde olarak sistemi sürekli gözden geçirerek ve insanlardan kaynaklanan hataları azaltmaya yönelik çalışmalara önem verilmesi, eğitimlerle desteklenmesi.
          </p>
          <p>
            Sürekli eğitimi desteklemek ve çalışanların ulusal/uluslararası kongre / seminer / yayınlara katılımına önem verilmesi.
          </p>
          <p>
            Teknolojik yeniliklerin, bilimsel ve yönetsel gelişmelerin sürekli takip edilerek, hastalarımızın hizmetine sunulması.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets/images/about/about-bg.jpg" class="img-fluid rounded shadow" alt="Kalite Politikası Resmi">
      </div>
    </div>

    <div class="row mb-5 align-items-center">
      <div class="col-lg-8 col-md-12">
        <div class="about-container">
          <h2>Çevre Politikamız</h2>
          <p>
            Pair 5 Hastanesi misyonu ve vizyonu doğrultusunda kaliteli hizmet anlayışıyla çalışırken çevreye saygılı, duyarlı ve sorumluluğunun farkına vararak görevlerini yerine getirmektedir.
          </p>
          <p>
            Bu Amaçla;
          </p>
          <p>
            Çevre ile ilgili tüm yerel ve ulusal kanun ve yönetmeliklerin ilgili tüm gereklerinin yerine getirilmesi.
          </p>
          <p>
            Faaliyet sonucu oluşan atıkları tespit edip bu atıkların hasta ve çalışan sağlığını tehdit etmeyecek şekilde uzaklaştırılması için kuruma özgü bir atık yönetim planı oluşturulması.
          </p>
          <p>
            Bu plan doğrultusunda, atıkların kaynağında doğru ayrıştırılması, mevcut atıkların çevreye zararının en aza indirilmesi, geri kazanılabilenlerin ayrılması.
          </p>
          <p>
            Geri kazanılamayan atıkların kanun ve yönetmeliklere uygun olarak bertaraf edilmeleri için ilgili kurumlara teslim edilmesi.
          </p>
          <p>
            Tüm çalışanlarımızın çevre konusunda bilinçlendirilmesi ve eğitilmesi.
          </p>
        </div>
      </div>
      <div class="col-lg-4 col-md-12 text-center my-4">
        <img src="assets/images/about/doctors.jpg" class="img-fluid rounded shadow" alt="Çevre Politikamız Resmi">
      </div>
    </div>
  </div>
</app-basic-layout>
