.input-group-append .input-group-text {
  background-color: #fff; /* Arka plan rengi */
  border-color: #ced4da; /* Kenarlık rengi */
}

.input-group-append .input-group-text i {
  font-size: 1rem; /* İkonun boyutu */
  color: #6c757d; /* İkonun rengi */
}
